<h1>Angular Nested FormArray / Dynamic FormArray</h1>

<form [formGroup]="mcqForm" (ngSubmit)="onSubmit()">
  <div formArrayName="mcqs">
    <div *ngFor="let mcq of mcqs().controls; let mcqIndex=index">
      <div
        [formGroupName]="mcqIndex"
        style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
      >
        {{mcqIndex}} Question :
        <input type="text" formControlName="question" />

        <button (click)="removeEmployee(mcqIndex)">Remove</button>

        <div formArrayName="skills">
          <div
            *ngFor="let skill of employeeSkills(mcqIndex).controls; let skillIndex=index"
          >
            <div [formGroupName]="skillIndex">
              {{skillIndex}} Skill :
              <input type="text" formControlName="skill" />
              Exp:
              <input type="text" formControlName="exp" />

              <button (click)="removeEmployeeSkill(mcqIndex,skillIndex)">
                Remove
              </button>
            </div>
          </div>
        </div>
        <button type="button" (click)="addEmployeeSkill(mcqIndex)">
          Add Skill
        </button>
      </div>
    </div>
    <button type="button" (click)="addEmployee()">Add Employee</button>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
