<h1>Angular Nested FormArray / Dynamic FormArray</h1>

<form [formGroup]="mcqForm" (ngSubmit)="onSubmit()">
  <div formArrayName="mcqs">
    <div *ngFor="let mcq of mcqs().controls; let mcqIndex=index">
      <div
        [formGroupName]="mcqIndex"
        style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
      >
        Question {{mcqIndex}} :
        <input type="text" formControlName="question" />

        <div formArrayName="options">
          <div
            *ngFor="let option of questionOptions(mcqIndex).controls; let optionIndex=index"
          >
            <div [formGroupName]="optionIndex">
              Option {{optionIndex}}
              <input type="text" formControlName="option" />
              Correct
              <select formControlName="iscorrect">
                <option value="true">Mark option as Correct</option>
                <option value="false">Mark option as Incorrect</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addEmployee()">Add Employee</button>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
