<button type="button"  (click)="addMcq()">+ Add another Film</button><br><br>
<form style="width: 60%;margin: auto; margin-top: 5%;" [formGroup]="mcqsForm" (ngSubmit)="onSubmit()">

  <div formArrayName="mcqs">
    <div>Array of queations i.e mcqs</div>
    <div (click)="mcqsFn(mcqs)">{{mcqs}}</div>
    <div *ngFor="let mcq of mcqs.controls; let i=index">
      <!-- <div>
        <input type="text" placeholder="First Name" formControlName="mcq.controls.firstName">
      </div> -->
      <form [formGroup]="mcq">
        <div>
          <input type="text" placeholder="First Name" formControlName="firstName">
        </div>
        <div>
          <input type="text" placeholder="Last Name" formControlName="lastName">
        </div>
      </form>
      <div (click)="mcqFn(mcq)" >{{mcq}}</div>

    </div>
      
      <!-- <div *ngFor="let film of films.controls; let i=index">
          <label for="alias-{{ i }}">Film{{i}}:</label>
          <input id="alias-{{ i }}" type="text" [formControlName]="i">
      </div> -->
  </div><br><br>

  <button class="btn btn-primary" type="submit">Submit</button>

</form>